---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">欢迎</h1>
    您可以：
    <ul>
      <li>
        <a href="/blog">阅读本站的文章</a>
      </li>
      <li>
        <a href="https://github.com/jzllove9" target="_blank">访问本站作者的 Github</a>
      </li>
      <li>
        <div target="_blank">关注作者的 WX 公众号《灵歌的日常》，不定时会有技术文章推送！</div>
      </li>
    </ul>
  </article>
</BaseLayout>
